body {
  padding: 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

h1,
h2 {
  text-align: center;
}

a {
  line-height: 1.7;
}

a:visited {
  color: blue;
}

a:hover {
  color: darkgoldenrod;
}

.TOC-ul {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  border: solid black 1px;
  flex-wrap: wrap;
}

.TOC-ul li {
  list-style: none;
  margin-bottom: 0.25em;
}
.TOC-ul li a {
  text-decoration: none;
  padding: 0.25em 0.5em;
  background: #f2b50d;
  border-radius: 5px;
  margin: 0.5em;
}

.groupings-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1em;
}

.grouping {
  border: solid green 2px;
  padding: 0.5em;
}

pre {
  overflow: scroll;
}

code {
  color: black;
  display: block;
  background: #222;
  color: rgba(255, 255, 255, 0.8);
  overflow: scroll;
  word-wrap: wrap;
  padding: 1em;
  border-radius: 5px;
}

#cdns {
  grid-column: 1 / -1;
}
